.s1
{
    font-size: 30px;
    font-weight: bolder;
    color: blueviolet;
    text-align: center;
}
.s2
{
    font-size: 30px;
    font-weight: bold;
    color: red;
    text-align: center;
}
.s3
{
    font-size: 30px;
    font-weight: bold;
    color: blue;
    text-align: left;
}
.s4
{
    color: brown;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}